body {
    background: #414141;
    color: #646464;
    font-family: "Open Sans", "Helvetica Neue", "Helvetica", sans-serif;
    font-size: 15px;
    -webkit-font-smoothing: antialiased;
    line-height: 1.7333;
}

h1 {
    margin-left: 20px;
}

#black_box {
    background-color: black;
    color: #969696;
    border-radius: 5px;
}

#hidden01 {
    display: none;
    text-align: left;
}

#main_grid .row .col-md-4 {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}